@import "../../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import "../../node_modules/ng-zorro-antd/code-editor/style/entry.less";
@import 'base.less';

// Default theme overrides
@body-background: hsl(260deg 22.22% 96.47%);
@border-color-base: hsv(0, 0, 81%);
@border-color-split: hsv(0, 0, 90%);

html.default {
    .set-css-variables();
}
