<div class="emoji-picker-container">
    <nz-tabs nzTabPosition="bottom" [nzAnimated]="false" nzSize="small" 
             [nzSelectedIndex]="selectedTabIndex()" 
             (nzSelectedIndexChange)="selectedTabIndex.set($event)">
        @for (c of categoriesWithEmojis; track c.icon) {
            <nz-tab [nzTitle]="titleTpl">
                <ng-template #titleTpl>
                    <span nz-icon [nzType]="c.icon"></span>
                </ng-template>
                <div class="emoji-grid">
                    @for (i of c.emojis; track i) {
                        <div class="emoji-item" [class.active]="value() === i" (click)="selectEmoji(i)">
                            {{ i }}
                        </div>
                    }
                </div>
            </nz-tab>
        }
    </nz-tabs>
</div>
