.tasks-container {
    padding: 20px;
}

.task-icon {
    font-size: 32px;
    width: 48px;
    height: 48px;
    background-color: #f6f4f8;
    border-radius: 2px;
    line-height: 46px;  // without this icon shows
    text-align: center;
}

.emoji-trigger {
    font-size: 20px;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
        border-color: var(--primary-color);
    }
}


.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 16px;
    flex-wrap: wrap;
}

.task-card {
    transition: all 0.3s;
    cursor: pointer;

    ::ng-deep .ant-card-body {
        padding: 16px;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 12px
    }
}

nz-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.folder-list {
    background-color: #fafafa;
    padding: 4px 8px;
    border-radius: 2px;
    display: flex;
}
