<div class="tasks-container" *transloco="let t">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px">
        <h2>{{ t('tasks.title') }}</h2>
        <button nz-button nzType="primary" (click)='showModal()'><nz-icon nzType="plus"/> {{ t('tasks.create') }}</button>
    </div>

    @if (tasks().length > 0) {
    <div class="task-list">
        @for (task of tasks(); track task.id) {
        <nz-card nzHoverable (click)="openEditor(task.id)" class="task-card">
            <div class="card-header">
                <div>
                    <div class="task-icon">{{ task.icon }}</div>
                    <div class="task-title">{{ task.name }}</div>
                </div>
                <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu" (click)="$event.stopPropagation()" class="more-btn"
                    aria-label="More Options" title="More Options">
                    <span nz-icon nzType="more"></span>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item (click)="showModal(task)"><nz-icon nzType="edit" />{{ t('tasks.edit_properties') }}</li>
                        <li nz-menu-item (click)="confirmDeleteTask(task)"><nz-icon nzType="delete" />{{ t('tasks.delete') }}</li>
                    </ul>
                </nz-dropdown-menu>
            </div>

            <p class="task-desc" (click)="openEditor(task.id)">
                {{ task.description || t('tasks.no_description') }}
            </p>

            <div class="folder-list" (click)="openEditor(task.id)">
                <span nz-icon nzType="folder"></span>
                <div style="margin-left: 10px; color: #595959">
                    @for (f of task.folders; track f.id) {
                        <nz-tag [title]="f.watch_folder">{{ f.name }}</nz-tag>
                    }
                    @if (task.folders.length === 0) {
                        <div><i>{{ t('tasks.none') }}</i></div>
                    }
                </div>
            </div>
        </nz-card>
        }
    </div>
    } @else {
    <nz-empty nzNotFoundImage="assets/empty.svg" [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
            <span style="color: #8c8c8c; font-size: 16px">{{ t('tasks.no_tasks') }}</span>
            <br />
            <span style="color: #bfbfbf">{{ t('tasks.description_placeholder') }}</span>
        </ng-template>
    </nz-empty>
    }

    <nz-modal [nzVisible]="isModalVisible()" (nzVisibleChange)="isModalVisible.set($event)"
        [nzTitle]="isEditing() ? t('tasks.edit') : t('tasks.create')" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form nz-form nzLayout="vertical">
                <div nz-row [nzGutter]="16">
                    <div nz-col [nzSpan]="3">
                        <nz-form-item>
                            <nz-form-label nzRequired>{{ t('tasks.icon') }}</nz-form-label>
                            <nz-form-control>
                                <div class="emoji-trigger" nz-popover #pop="nzPopover" [nzPopoverContent]="emojiPickerTpl"
                                    nzPopoverTrigger="click" nzPopoverPlacement="bottomLeft"
                                    nzPopoverOverlayClassName="nz-popover-no-padding">
                                    {{ taskForm().icon }}
                                </div>
                                <ng-template #emojiPickerTpl>
                                    <app-emoji-picker [value]="taskForm().icon" (valueChange)="updateForm('icon', $event); pop.hide()"/>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="21">
                        <nz-form-item>
                            <nz-form-label nzRequired>{{ t('tasks.name') }}</nz-form-label>
                            <nz-form-control [nzErrorTip]="t('tasks.name_required')">
                                <input nz-input [ngModel]="taskForm().name" (ngModelChange)="updateForm('name', $event)"
                                    name="name" [placeholder]="t('tasks.name')" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <nz-form-item>
                    <nz-form-label>{{ t('tasks.description') }}</nz-form-label>
                    <nz-form-control>
                        <textarea nz-input [ngModel]="taskForm().description"
                            (ngModelChange)="updateForm('description', $event)" name="description"
                            [placeholder]="t('tasks.description')" rows="3"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>
