.settings-container {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}

.ant-form {
    max-width: 1000px;
    margin-right: auto;
    nz-divider:not(:first-child) {
        margin-top: 48px;
    }
}

.anchor {
    position: sticky;
    top: 0;
    min-width: 180px;
    user-select: none;
}

.nz-alert-sm ::ng-deep .ant-alert {
    font-size: 13px;
    padding: 4px 6px;
}

:host ::ng-deep .ant-divider-horizontal.ant-divider-with-text::before {
    display: none;
}
:host ::ng-deep .ant-divider-inner-text {
    padding-left: 0;
}