// -------- 引入官方提供的 less 样式入口文件 -----------
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

@import '../node_modules/ng-zorro-antd/code-editor/style/entry.less';

// -------- 自定义参数覆盖 -----------
@primary-color: #8452ea;

html {
    --primary-color: @primary-color;
    --primary-color-a03: #8552ea4d;
    --primary-color-tint: #ad90e7;
}