// -------- 引入官方提供的 less 样式入口文件 -----------
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

@import '../node_modules/ng-zorro-antd/code-editor/style/entry.less';

// -------- 自定义参数覆盖 -----------
@primary-color: hsl(260.29deg 39% 55%);

html {
    --primary-color: @primary-color;
    --primary-color-a04: fade(@primary-color, 40%);
    --primary-color-tint: lighten(@primary-color, 15%);
}

.ant-menu-item {
    user-select: none;
}