// -------- 引入官方提供的 less 样式入口文件 -----------
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

@import '../node_modules/ng-zorro-antd/code-editor/style/entry.less';

// -------- 自定义参数覆盖 -----------
// https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@primary-color: hsl(260.29deg 39% 55%);
@border-color-base: hsv(0, 0, 81%); // base border outline a component
@border-color-split: hsv(0, 0, 90%); // split border inside a component

html {
    --primary-color: @primary-color;
    --primary-color-a04: fade(@primary-color, 40%);
    --primary-color-tint: lighten(@primary-color, 15%);
    --border-color-split: @border-color-split;
}

.ant-menu-item {
    user-select: none;
}