.editor-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
.toolbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: #ffffff88;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--border-color-split);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.node-palette {
    width: 250px;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    padding: 15px;
    overflow-y: auto;
}
.node-palette h3 {
    margin-top: 0;
}
.node-palette ul {
    list-style: none;
    padding: 0;
}
.node-palette li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.node-palette li:hover {
    background-color: #e6f7ff;
    border-color: #91d5ff;
}
.rete-area {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    // background-image: radial-gradient(#d9dfe7 1px, transparent 1px);
    // background-size: 14px 14px;
    background-image: url("/assets/tile.svg");
    background-size: 24px 24px;
}
.floating-toolbar {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px;
    background: var(--popover-background);
    backdrop-filter: blur(12px);
    border: 1px solid var(--border-color-split);
    border-radius: 2px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 6;

    .toolbar-group {
        display: flex;
        align-items: center;
        background: #f8f9fa;
        border-radius: 2px;
    }

    .zoom-indicator {
        font-size: 11px;
        font-weight: bold;
        font-family: ui-monospace;
        color: var(--text-color);
        text-align: center;
        width: 38px;
    }
}
.console {
    height: 200px;
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid #333;
}
.logs-container div {
    font-family: monospace;
    margin-bottom: 5px;
}

.node-menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 4px;

    .node-menu-icon-inner {
        color: white;
        font-size: 12px;
    }
}

.editor-menu {
    min-width: 150px;
}


:host-context(html.dark) {
    .toolbar, .floating-toolbar {
        background-color: #2a2a2a91;
    }
    .floating-toolbar .toolbar-group {
        background: #282828;
    }

    .rete-area {
        background-image: url("/assets/tile-dark.svg");
    }
}