<div class="editor-container">
    <div class="toolbar">
        <span style="font-size: 16px">{{ task()?.name }}</span>
        <div style="flex-grow: 1"></div>
        <button nz-button nzType="primary" (click)="saveDag()"><span nz-icon nzType="save"></span>Save</button>
        <button nz-button nzType="default" (click)="showExecuteModal()"><nz-icon nzType="bug"/> Run</button>
        <nz-divider nzType="vertical"/>
        <nz-space-compact>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" title="Add Node"><nz-icon nzType="plus" /></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    @for (t of availableNodes; track t) {
                        <li nz-menu-item (click)="editorService.addNode(t)">{{ NODE_INFO[t].label }}</li>
                    }
                </ul>
            </nz-dropdown-menu>
            <button nz-button nzType="default" (click)="autoArrange()" title="Auto Arrange"><nz-icon nzType="layout" /></button>
        </nz-space-compact>
                
        <nz-divider nzType="vertical"/>
        <button nz-button routerLink="/tasks/" title="Back"><nz-icon nzType="icon:back"/></button>
    </div>
    <div class="main-content">
        <div class="rete-area" #rete></div>

        <div class="floating-toolbar">
            <div class="toolbar-group">
                <button nz-button nzType="text" (click)="editorService.undo()" [disabled]="editorService.undoStack().length <= 1" title="Undo (Ctrl+Z)" nzSize="small">
                    <span nz-icon nzType="undo"></span>
                </button>
                <button nz-button nzType="text" (click)="editorService.redo()" [disabled]="editorService.redoStack().length === 0" title="Redo (Ctrl+Y)" nzSize="small">
                    <span nz-icon nzType="redo"></span>
                </button>
            </div>

            <div class="toolbar-group">
                <button nz-button nzType="text" (click)="zoomOut()" nzSize="small" title="Zoom Out">
                    <span nz-icon nzType="zoom-out"></span>
                </button>
                <span class="zoom-indicator">{{ zoomLevel() }}%</span>
                <button nz-button nzType="text" (click)="zoomIn()" nzSize="small" title="Zoom In">
                    <span nz-icon nzType="zoom-in"></span>
                </button>
            </div>

            <div class="toolbar-group">
                <button nz-button nzType="text" (click)="zoomFit()" nzSize="small" title="Fit to Screen">
                    <span nz-icon nzType="icon:fit-screen"></span>
                </button>
            </div>
        </div>

        <app-node-properties [(visible)]="isPropertyPanelVisible" [node]="selectedNode()" />
    </div>

        <nz-modal [nzVisible]="isExecuteModalVisible()" (nzVisibleChange)="isExecuteModalVisible.set($event)"

        nzTitle="Execute DAG" (nzOnCancel)="handleExecuteCancel()" (nzOnOk)="handleExecuteOk()">
        <ng-container *nzModalContent>
            <form nz-form nzLayout="vertical">
                <nz-form-item>
                    <nz-form-label nzRequired>Input File Path (Absolute)</nz-form-label>
                    <nz-form-control nzErrorTip="Please input the file path!">
                        <div style="display: flex; gap: 8px">
                            <input nz-input [(ngModel)]="executeFilePath" name="executeFilePath" />
                            <button nz-button type="button" (click)="openFileDialog()">Browse...</button>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>

    <nz-modal [nzVisible]="isLogsModalVisible()" (nzVisibleChange)="isLogsModalVisible.set($event)"
        nzTitle="Console Logs" (nzOnCancel)="handleLogsClose()" [nzFooter]="null" nzWidth="800px">
        <ng-container *nzModalContent>
            <div class="console">
                <div class="logs-container">
                    @for (log of logs(); track $index) {
                        <div>{{ log }}</div>
                    }
                    @if (logs().length === 0) {
                        <div style="color: #666">Waiting for logs...</div>
                    }
                </div>
            </div>
        </ng-container>
    </nz-modal>

    <!-- Context Menus -->
    <nz-dropdown-menu #contextMenu="nzDropdownMenu">
        @if (!!selectedNode()) {
            <ul nz-menu>
                <li nz-menu-item (click)="cloneSelectedNode()"><span nz-icon nzType="copy" nzTheme="outline"></span>Clone
                </li>
                <li nz-menu-item (click)="deleteSelectedNode()"><span nz-icon nzType="delete"
                        nzTheme="outline"></span>Delete</li>
                <li nz-menu-divider></li>
                <li nz-submenu nzTitle="Change Type" nzIcon="swap">
                    <ul>
                        @for (t of availableNodes; track t) {
                            <li nz-menu-item (click)="changeSelectedNodeType(t)">{{
                            NODE_INFO[t].label }}</li>
                        }
                    </ul>
                </li>
            </ul>
        } @else {
            <ul nz-menu>
                <li nz-submenu nzTitle="Add Node" nzIcon="plus">
                    <ul>
                        @for (t of availableNodes; track t) {
                            <li nz-menu-item (click)="editorService.addNode(t)">{{ NODE_INFO[t].label }}</li>
                        }
                    </ul>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item (click)="autoArrange()">
                    <nz-icon nzType="layout"/>
                    <span>Auto Arrange</span>
                </li>
            </ul>
        }
    </nz-dropdown-menu>
</div>


<app-file-dialog [(isVisible)]="isFileDialogVisible" mode="file" [currentPath]="executeFilePath()"
    (fileSelected)="executeFilePath.set($event)" />
