<div class="editor-container" *transloco="let t">
    <div class="toolbar">
        <span style="font-size: 16px">{{ task()?.name }}</span>
        <div style="flex-grow: 1"></div>
        <button nz-button nzType="primary" (click)="saveDag()"><span nz-icon nzType="save"></span>{{ t('editor.save') }}</button>
        <button nz-button nzType="default" (click)="showExecuteModal()"><nz-icon nzType="bug"/> {{ t('editor.run') }}</button>
        <nz-divider nzType="vertical"/>
        <nz-space-compact>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" [title]="t('editor.add_node')"><nz-icon nzType="plus" /></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    @for (i of availableNodes; track i) {
                        <li nz-menu-item (click)="editorService.addNode(i)">
                            <div class="node-menu-icon" [style.background-color]="NODE_INFO[i].color">
                                <span nz-icon [nzType]="NODE_INFO[i].icon" class="node-menu-icon-inner"></span>
                            </div>
                            {{ t('node_types.' + i) }}
                        </li>
                    }
                </ul>
            </nz-dropdown-menu>
            <button nz-button nzType="default" (click)="autoArrange()" [title]="t('editor.auto_arrange')"><nz-icon nzType="layout" /></button>
        </nz-space-compact>
                
        <nz-divider nzType="vertical"/>
        <button nz-button routerLink="/tasks/" [title]="t('editor.back')"><nz-icon nzType="icon:back"/> {{ t('editor.back') }}</button>
    </div>
    <div class="main-content">
        <div class="rete-area" #rete></div>

        <div class="floating-toolbar">
            <div class="toolbar-group">
                <button nz-button nzType="text" (click)="editorService.undo()" [disabled]="editorService.undoStack().length <= 1" [title]="t('editor.undo')" nzSize="small">
                    <span nz-icon nzType="undo"></span>
                </button>
                <button nz-button nzType="text" (click)="editorService.redo()" [disabled]="editorService.redoStack().length === 0" [title]="t('editor.redo')" nzSize="small">
                    <span nz-icon nzType="redo"></span>
                </button>
            </div>

            <div class="toolbar-group">
                <button nz-button nzType="text" (click)="zoomOut()" nzSize="small" [title]="t('editor.zoom_out')">
                    <span nz-icon nzType="zoom-out"></span>
                </button>
                <span class="zoom-indicator">{{ zoomLevel() }}%</span>
                <button nz-button nzType="text" (click)="zoomIn()" nzSize="small" [title]="t('editor.zoom_in')">
                    <span nz-icon nzType="zoom-in"></span>
                </button>
            </div>

            <div class="toolbar-group">
                <button nz-button nzType="text" (click)="zoomFit()" nzSize="small" [title]="t('editor.fit_to_screen')">
                    <span nz-icon nzType="icon:fit-screen"></span>
                </button>
            </div>
        </div>

        <app-node-properties [(visible)]="isPropertyPanelVisible" [node]="selectedNode()" />
    </div>

    <nz-modal [nzVisible]="isExecuteModalVisible()" (nzVisibleChange)="isExecuteModalVisible.set($event)"
        [nzTitle]="t('editor.execute_dag')" (nzOnCancel)="handleExecuteCancel()" (nzOnOk)="handleExecuteOk()">
        <ng-container *nzModalContent>
            <form nz-form nzLayout="vertical">
                <nz-form-item>
                    <nz-form-label nzRequired>{{ t('editor.input_file_path') }}</nz-form-label>
                    <nz-form-control [nzErrorTip]="t('editor.placeholder_file_path')">
                        <div style="display: flex; gap: 8px">
                            <input nz-input [(ngModel)]="executeFilePath" name="executeFilePath" />
                            <button nz-button type="button" (click)="openFileDialog()">{{ t('editor.browse') }}</button>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>

    <nz-modal [nzVisible]="isLogsModalVisible()" (nzVisibleChange)="isLogsModalVisible.set($event)"
        [nzTitle]="t('editor.console_logs')" (nzOnCancel)="handleLogsClose()" [nzFooter]="null" nzWidth="800px">
        <ng-container *nzModalContent>
            <div style="height: 400px">
                <app-log-viewer />
            </div>
        </ng-container>
    </nz-modal>

    <!-- Context Menus -->
    <nz-dropdown-menu #contextMenu="nzDropdownMenu">
        <ul nz-menu class="editor-menu">
            @if (!!selectedNode()) {
                <li nz-menu-item (click)="cloneSelectedNode()"><span nz-icon nzType="copy" nzTheme="outline"></span>{{ t('editor.clone') }}
                </li>
                <li nz-menu-item (click)="deleteSelectedNode()"><span nz-icon nzType="delete"
                        nzTheme="outline"></span>{{ t('editor.delete') }}</li>
                <li nz-menu-divider></li>
                <li nz-submenu [nzTitle]="t('editor.change_type')" nzIcon="swap">
                    <ul>
                        @for (i of availableNodes; track i) {
                            <li nz-menu-item (click)="changeSelectedNodeType(i)">
                                <div class="node-menu-icon" [style.background-color]="NODE_INFO[i].color">
                                    <span nz-icon [nzType]="NODE_INFO[i].icon" class="node-menu-icon-inner"></span>
                                </div>
                                {{ t('node_types.' + i) }}
                            </li>
                        }
                    </ul>
                </li>
            } @else {
                <li nz-submenu [nzTitle]="t('editor.add_node')" nzIcon="plus">
                    <ul>
                        @for (i of availableNodes; track i) {
                            <li nz-menu-item (click)="editorService.addNode(i)">
                                <div class="node-menu-icon" [style.background-color]="NODE_INFO[i].color">
                                    <span nz-icon [nzType]="NODE_INFO[i].icon" class="node-menu-icon-inner"></span>
                                </div>
                                {{ t('node_types.' + i) }}
                            </li>
                        }
                    </ul>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item (click)="autoArrange()">
                    <nz-icon nzType="layout"/>
                    <span>{{ t('editor.auto_arrange') }}</span>
                </li>
            }
        </ul>
    </nz-dropdown-menu>
</div>


<app-file-dialog [(isVisible)]="isFileDialogVisible" mode="file" [currentPath]="executeFilePath()"
    (fileSelected)="executeFilePath.set($event)" />
