<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="mode === 'folder' ? t('file_dialog.select_folder') : t('file_dialog.select_file')"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWidth="600px"
  *transloco="let t"
>
  <ng-container *nzModalContent>
    <div class="file-dialog-container">
      <div class="path-header">
        <button nz-button nzType="default" (click)="goUp()" [disabled]="!currentPath" [attr.aria-label]="t('file_dialog.go_up')" [title]="t('file_dialog.go_up')">
          <i nz-icon nzType="arrow-up"></i>
        </button>
        <input nz-input #pathInput [ngModel]="currentPath || t('file_dialog.system_roots')" (keydown.enter)="onPathInputChange(pathInput.value)" class="path-input" />
      </div>

      <div class="file-list" [class.loading]="loading()">
        <nz-list nzBordered nzSize="small">
          @for (item of items(); track item.path) {
            <nz-list-item
              (click)="onItemClick(item)"
              (dblclick)="onItemDoubleClick(item)"
              [class.selected]="selectedPath() === item.path"
              class="list-item"
            >
            <i nz-icon [nzType]="item.is_dir ? 'folder' : 'file'" class="item-icon" [style.color]="item.is_dir ? '#faad14' : '#1890ff'"></i>
            <span class="item-name">{{ item.name }}</span>
          </nz-list-item>
          }

          @if (items().length === 0 && !loading()) {
              <nz-list-empty></nz-list-empty>
          }
        </nz-list>
      </div>
    </div>
  </ng-container>
</nz-modal>
