<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="mode === 'folder' ? 'Select Folder' : 'Select File'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWidth="600px"
>
  <ng-container *nzModalContent>
    <div class="file-dialog-container">
      <div class="path-header">
        <button nz-button nzType="default" (click)="goUp()" [disabled]="!currentPath">
          <i nz-icon nzType="arrow-up"></i>
        </button>
        <input nz-input #pathInput [ngModel]="currentPath || 'System Roots'" (keydown.enter)="onPathInputChange(pathInput.value)" class="path-input" />
      </div>

      <div class="file-list" [class.loading]="loading()">
        <nz-list nzBordered nzSize="small">
          <nz-list-item
            *ngFor="let item of items()"
            (click)="onItemClick(item)"
            (dblclick)="onItemDoubleClick(item)"
            [class.selected]="selectedPath() === item.path"
            class="list-item"
          >
            <i nz-icon [nzType]="item.is_dir ? 'folder' : 'file'" class="item-icon" [style.color]="item.is_dir ? '#faad14' : '#1890ff'"></i>
            <span class="item-name">{{ item.name }}</span>
          </nz-list-item>

          <nz-list-empty *ngIf="items().length === 0 && !loading()"></nz-list-empty>
        </nz-list>
      </div>
    </div>
  </ng-container>
</nz-modal>
